Source: aethercast
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Simon Fels <simon.fels@canonical.com>
Build-Depends: cmake,
               debhelper (>= 9),
               dbus,
               google-mock,
               libboost-dev,
               libboost-filesystem-dev,
               libboost-log-dev,
               libboost-iostreams-dev,
               libboost-system-dev,
# boost log needs exactly one symbol from boost-thread for resolving
# thread-specific storage locations.
               libboost-thread-dev,
               libglib2.0-dev,
               libgstreamer1.0-dev,
               libgtest-dev,
               libreadline-dev,
               libreadline6-dev,
               libwds-dev
Standards-Version: 3.9.4
Homepage: http://launchpad.net/aethercast
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/aethercast/trunk
Vcs-Browser: http://bazaar.launchpad.net/aethercast/trunk/files

Package: aethercast
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         dhcpcd5,
         isc-dhcp-client,
         wpasupplicant
Description: Display casting service
 A management service for remote displays which it can stream the
 current screen content to. It will support multiple approaches
 for this like Miracast.
